.user {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  background-color: white;
}

.user .name,
.user .hobby {
  font-size: 20px;
}

.user .hobby {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.no-user {
  display: flex;
  flex-direction: column;
}

.no-user > div {
  text-align: center;
}

.no-user .zero {
  font-size: 128px;
  font-weight: bold;
  color: orange;
}

.no-user .text {
  font-size: 128px;
  font-weight: bold;
  font-style: italic;
  color: lightcoral;
}